{"name":"expo-react-native-google-mobile-ads-demo","slug":"expo-react-native-google-mobile-ads-demo","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.example.adsIOS"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#FFFFFF"},"package":"com.example.ads"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"8de9772d-8745-45de-ac27-c281bd596c8f"}},"sdkVersion":"46.0.0","platforms":["ios","android","web"],"currentFullName":"@aa7772/expo-react-native-google-mobile-ads-demo","originalFullName":"@aa7772/expo-react-native-google-mobile-ads-demo"}